/* ASSETS */
:root {
    --powder: #e9e3e2;
    --near-white: #f1edec;
    --black: #111111;

    --footer-height: 250px;
    --project-tile-size: 400px;
}

@font-face {
    font-family: "Black Mango";
    src: url('fonts/BlackMango-Regular.ttf');
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('fonts/HelveticaNeue.ttc');
}

/* UNIVERSAL STYLING */

html {
    background-color: var(--powder);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    color: var(--black);
    box-sizing: border-box;
}

* ul {
    list-style: none;
}

h1 {
    font-family: "Black Mango", serif;
    font-size: 5rem;
}



/* NAVIGATION */
#nav-bar {
    width: min(90vw, 600px);
    height: min(3em, 10vh);

    position: sticky;
    margin: 0 auto;
    top: 2em;

    background: rgba(233, 227, 226, 0.8);;
    backdrop-filter: blur(8px);

    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
    border: 1.6px solid var(--black);
}

#navigation {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-bar ul li {
    text-align: center;
    flex: 1 1 auto;
}

#nav-bar ul li a {
    text-decoration: none;
}

/* Active Page */
#nav-bar ul li.active {
    background: var(--black);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar ul li.active a {
    color: var(--powder);
}




/* FOOTER */
#footer {
    box-sizing: border-box;
    height: var(--footer-height);
    backdrop-filter: blur(10px);
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer-contacts {
    text-align: right;
}


/* HOMEPAGE */
#home-landing {
    height: 100vh;
    width: 100vw;
}

#home-landing h1 {
    text-align: left;
    line-height: 5rem;
}

#home-landing p {
    font-size: 1.75rem;
}

/* projects */
#home-projects {
    text-align: center;
    min-height: 100vh;
    padding-top: 25vh;
}

#home-projects p {
    font-size: 1.5rem;
}


/* home-projects  */

.project-tile {
    text-decoration: none;
}

.project-tile-img {
    width: var(--project-tile-size);
    height: var(--project-tile-size);
}

.project-tile:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.project-tile-title {
    font-family: "Black Mango", serif;
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
}

/* MOBILE MEDIA QUERY */

@media only screen and (max-width: 600px) {


    .projects-grid {
        flex-direction: column;
        row-gap: 50px;
    }
    #footer {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        justify-content: start;
        height: 400px;
        text-align: center;
    }
    #footer-contacts {
        text-align: center;
    }
    
}