/* ASSETS */
:root {
    --powder: #e9e3e2;
    --near-white: #f1edec;
    --black: #111111;
}

@font-face {
    font-family: "Black Mango";
    src: url('fonts/BlackMango-Regular.ttf');
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('fonts/HelveticaNeue.ttc');
}

/* UNIVERSAL STYLING */

html {
    background-color: var(--powder);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    color: var(--black);
    box-sizing: border-box;
}

h1 {
    font-family: "Black Mango", serif;
}

.page-content {
    padding: calc(2.2rem + 3dvh) 17dvw 0;
/* TEMPORARY PLACERS */
    height: 100dvh;
    h1, p {
        text-align: center;
    }
}

.grid {
    display: grid;
    border: 2px solid green;
}

.grid-item {
    overflow: hidden;
}

/* SPANS STYLING */
span.italic {
    font-style: italic;
}

span.extra-bold {
    font-weight: bolder;
}

/* <-------------------- NAVIGATION --------------------> */
#nav-bar {
    width: min(87dvw, 600px);
    height: 2.2rem;

    font-size: 1rem;

    position: sticky;
    margin: 0 auto;
    top: 3dvh;

    background: rgba(233, 227, 226, 0.7);;
    backdrop-filter: blur(8px);
    border: 1.2px solid var(--black);
    border-radius: 1.2rem;

    z-index: 99;
}

#navigation, #navigation * {
    height: 100%;
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

#navigation li {
    flex: 1 1 auto;
    border-radius: 1.2rem;
}

#navigation a {
    display: block;

    text-decoration: none;
    text-align: center;

    padding-top: 0.4rem;  /* Roughly vertically aligns the text to the center */
}

/* Nav Bar Changes for Active Page */
#nav-bar ul li.active {
    background: var(--black);
    animation: navChange 800ms;
}

#nav-bar ul li.active a {
    color: var(--powder);
}

@keyframes navChange {
    from {
        background: var(--powder);
        color: var(--black);
    } to {
        background: var(--black);
        color: var(--powder);
    }
}


/* <-------------------- FOOTER --------------------> */
#footer {
    padding: 10dvh 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer li {
    list-style: none;
}

#footer a {
    text-decoration: none;
}

#footer-contacts {
    text-align: right;
}


/* <-------------------- HOMEPAGE --------------------> */
#home-greeting-grid {
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 70px); */
    gap: 1.1em;
}

#home-greeting-grid div {
    border: 1px dashed yellow;
}

#item-1 {
    /* grid-column: 1 / 6; */
    min-height: 60dvh;

}
/* <-------------------- MOBILE ADJUSTMENTS --------------------> */

@media only screen and (max-width: 768px) {
    .page-content {
        padding: 2rem 1.8rem 0;
    }
    #nav-bar {
        top: 90dvh;
        font-size: 0.9rem;
    }
    #footer {
        height: 30rem;

        text-align: center;

        flex-direction: column;
        place-content: center;
        row-gap: 10px;
    }

    #footer-contacts {
        text-align: center;
    }
}