/* ASSETS */
:root {
    --white: #f7f4f4;
    --gray: #f2eeee;
    --black: #111111;
}

/* :root {
    --white: #17171a;
    --gray: #131315;
    --black: #f7f4f4;
} */

@font-face {
    font-family: "Black Mango";
    src: url('fonts/BlackMango-Regular.ttf');
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('fonts/HelveticaNeue.ttc');
}

/* UNIVERSAL STYLING */
html {
    background-color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    color: var(--black);
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "Black Mango", serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.page-content {
    padding: 7rem 17dvw 0;
    min-height: 100dvh;
}

.grid {
    display: grid;
}

.grid-item {
    overflow: hidden;
    background: var(--gray);
    backdrop-filter: blur(100px);

    border-radius: 1.2rem;
    padding: 3.7rem;
}

/* a {
    text-decoration: none;
} */

/* SPANS STYLING */
span.italic {
    font-style: italic;
}

span.extra-bold {
    font-weight: bolder;
}

/* <-------------------- NAVIGATION --------------------> */
#nav-bar {
    width: min(87dvw, 600px);
    height: 2.2rem;

    font-size: 1rem;

    position: sticky;
    margin: 0 auto;
    top: 3dvh;

    background: var(--gray);
    backdrop-filter: blur(8px);
    border: 1.2px solid var(--black);
    border-radius: 1.2rem;

    z-index: 99;

    box-shadow: 0px 3px 0.8rem rgba(81, 26, 26, 0.227);
}

#navigation, #navigation * {
    height: 100%;
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

#navigation li {
    flex: 1 1 auto;
    border-radius: 1.2rem;
}

#navigation a {
    display: block;

    text-decoration: none;
    text-align: center;

    padding-top: 0.4rem;  /* Roughly vertically aligns the text to the center */
}

/* Nav Bar Changes for Active Page */
#nav-bar ul li.active {
    background: var(--black);
    animation: navChange 800ms;
}

#nav-bar ul li.active a {
    color: var(--white);
}

@keyframes navChange {
    from {
        background: var(--white);
        color: var(--black);
    } to {
        background: var(--black);
        color: var(--white);
    }
}


/* <-------------------- FOOTER --------------------> */
#footer {
    padding: 10dvh 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer li {
    list-style: none;
}

#footer a {
    text-decoration: underline transparent;
    transition: 500ms;
}

#footer a:hover {
    text-decoration-color: var(--black);
}

#footer-contacts {
    text-align: right;
}


/* <-------------------- HOMEPAGE --------------------> */
section {
    margin-bottom: 10dvh;
}

section h2 {
    margin: 0 0 2rem 3.7rem;
    line-height: 2rem;
}

/* GREETING GRID */
#home-greeting-grid {
    row-gap: 1.5rem;

    grid-template-areas: 
        "intro"
        "learnt";
}

#home-greeting-grid * {
    text-align: left;
}

#home-greeting-grid > div.grid-item {
    background: var(--gray);

    transition: 170ms ease-out;
}

#home-contact-me form:hover {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

/* Self-note: grid-area property also covers for mobile grid placement too. */
#greet-1 {
    grid-area: intro;
}

#greet-1 h1 {
    font-size: 4rem;
    line-height: 3.8rem;
    margin-bottom: 1rem;
}

#greet-1 p {
    font-size: 2rem;
}

#greet-2 {
    grid-area: learnt;
    font-size: 1.5rem;

    /* Note: This is for vertical align, there might be a better way to do this) */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#greet-2 h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

#learnt-languages {
    padding: 50px 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5rem;
}

#learnt-languages img {
    height: max(180px);

    transition: 300ms;
}

#learnt-languages img:hover {
    scale: 1.1;
    transform: translateY(-10px);
}

/* PROJECT PREVIEWS */

#home-projects-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem;
}

#home-projects-grid .grid-item {
    padding: 0;
    height: fit-content;

    transition: 200ms ease-in;
}

#home-projects-grid .grid-item:hover, #home-projects-grid .grid-item:focus {
    transform: translateY(-5px);
}

#home-projects-medscanner:hover, #home-projects-medscanner:focus {
    box-shadow: 0px 10px 25px #4f679e;
}

#home-projects-cat-game:hover, #home-projects-cat-game:focus {
    box-shadow: 0px 10px 25px #1e7d39;
}

#home-projects-grid .grid-item img {
    display: block;
    max-inline-size: 100%;
}

/* HOME CONTACT FORM */
#home-contact-me form {
    transition: 170ms ease-in;
}

.email-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "input-email input-name"
        "input-subject input-subject"
        "input-message input-message"
        "submit submit";
    row-gap: 1.5rem;

    background: var(--gray);
    border-radius: 1.2rem;
    padding: 3.7rem;
}

.email-form input, .email-form textarea {
    width: 100%;

    padding: 0.6rem;

    background: var(--white);
    border: 1px solid var(--black);
    min-height: 2rem;
    border-radius: 0.5rem;
}

.email-form-sender-email {
    grid-area: input-email;

    display: flex;
    flex-direction: column;
}

.email-form-name {
    grid-area: input-name;
    margin-left: 1rem;
}

.email-form-subject {
    grid-area: input-subject;
}

.email-form-message {
    grid-area: input-message;
}

.form-submit {
    grid-area: submit;

    font-size: 1.1rem;
    padding: 0.5rem;
    
    background: var(--white);
    backdrop-filter: blur(8px);
    border: 1.2px solid var(--black);
    border-radius: 1.5rem;

    transition-duration: 600ms;
}

.form-submit:hover {
    color: var(--white);
    background: var(--black);
}

/* <-------------------- THANK YOU PAGE --------------------> */
#thank-you-message {
    text-align: center;
}

#thank-you-message p { 
    margin: 1rem 0;
}


/* <-------------------- ABOUT ME PAGE --------------------> */
#about-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "born space"
        "art space"
        "art ironic";
    gap: 1rem;
}

#about-grid .grid-item {
    display: flex;
    flex-direction: column;
    place-content: center;
    transition: 170ms;
}

#about-grid .grid-item:hover {
    box-shadow: 0px 10px 20px rgba(15, 0, 0, 0.2);
    transform: translateY(-10px);
}


#about-grid .grid-item > ul li{
    margin-left: 1rem;
}

#about-born {
    grid-area: born;
}

#about-space {
    grid-area: space;
}

#about-art {
    grid-area: art;
}

#about-ironic {
    grid-area: ironic;
}

/* <-------------------- CONTACT PAGE --------------------> */
#contact-page section > p {
    margin: 0 0 2rem 3.7rem;
}

.bug-message {
    margin-top: 2rem;
    text-align: center;
}

/* <-------------------- PROJECTS PAGE --------------------> */
#projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

#projects-grid h3.project-preview-title {
    font-family: "Helvetica Neue";
    margin-bottom: 0.5rem;
}

#projects-grid p.project-preview-desc {
    /* Divider */
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--black);
}

#projects-grid .grid-item {
    transition: 200ms;
}

#projects-grid .grid-item:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2gipx);
}

#projects-grid .grid-item a {
    display: block;
    margin-top: 1rem;
    text-decoration: underline;
}

/* GENERIC PROJECT TEMPLATE */
.project-overview {
    display: grid;
    grid-template: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 3rem;
    grid-template-areas:
        "title title title"
        "role description description"
        "tools context context"
        "timeline links links";
}

.project-overview ul {
    padding-left: 1rem;
}

.project-overview h1, h3 {
    font-family: "Helvetica Neue", sans-serif;
    padding-bottom: 1rem;
}

.project-overview .project-title {
    width: 100%;
    border-bottom: 1px solid var(--black);
    grid-area: title;
}

.project-overview .project-description {
    grid-area: description;
}

.project-overview .project-context {
    grid-area: context;
}

.project-overview .project-role {
    grid-area: role;
}

.project-overview .project-tools {
    grid-area: tools;
}

.project-overview .project-timeline {
    grid-area: timeline;
}

.project-overview .project-links {
    grid-area: links;
}

.project-overview .project-links a {
    border: 1px solid var(--black);
    padding: 0.5rem 3rem;
    transition-duration: 170ms;
}

.project-overview .project-links a:hover {
    color: var(--white);
    background: var(--black);
}


/* SPECIFIC PROJECTS */
/* MEDSCANNER */


/* <------------------------> */

/* <-------------------- NARROW DESKTOP ADJUSTMENTS --------------------> */
/* Don't actually know if this is a real thing... but it felt right. */
@media only screen and (min-width: 1024px) and (max-width: 1232px) {
    #home-greeting-grid > .grid-item {
        padding: 1.7rem;
    }
}

/* <-------------------- TABLET ADJUSTMENTS --------------------> */
@media only screen and (max-width: 1023px) {
    .page-content {
        padding: 6rem 5rem 0;
    }

    /* HOMEPAGE */
    #home-greeting-grid .grid-item {
        padding: 2rem;
    }
    #home-greeting-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

    grid-template-areas: 
        "intro"
        "about"
        "learnt"
    }
    #home-greeting-grid > .grid-item {
        padding: 1.6rem;
    }
    section h2 {
        margin-left: 0;
    }
    
    #contact-page section { /* Interesting note on this but we NEED to include :not(#phone-warning) or else the other selector for desktop takes precedence due to a higher specifity. Woahhh */
    margin: 0 0 2rem 0;
    }

    /* ABOUT PAGE */
    #about-grid > .grid-item {
        padding: 1.5rem;
    }

    /* PROJECTS PAGE */
    #projects-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto);
    }
}

/* <-------------------- MOBILE ADJUSTMENTS --------------------> */

@media only screen and (max-width: 767px) {
    .page-content {
        padding: 2rem 1.8rem 0;
    }
    #nav-bar {
        top: 90dvh;
        font-size: 0.9rem;
    }
    #footer {
        height: 30rem;

        text-align: center;

        flex-direction: column;
        place-content: center;
        row-gap: 10px;
    }
    #footer-contacts {
        text-align: center;
    }

    /* HOMEPAGE */
    #home-projects-grid {
        grid-template-columns: 1fr;
    }

    .email-form {
        padding: 1.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
            "input-name"
            "input-email"
            "input-subject"
            "input-message"
            "submit";
        ;
    }
    .email-form-name {
        margin-left: 0;
    }

    /* ABOUT */
    #about-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "born"
            "space"
            "art"
            "ironic"
        ;
    }
    #about-grid > .grid-item {
        padding: 1.5rem;
    }

    /* PROJECTS */
    .project-overview {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "title"
            "description"
            "context"
            "role"
            "tools"
            "timeline"
            "links";
        place-content: center;
        gap: 4rem 0.9rem;
    }


}

/* ANIMATIONS */

@keyframes fadeInOpacity {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}